@model List < AcunmedyaAkademiProject2.Entities.Message>

@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Gelen Kutusu</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-light table-striped table-hover shadow-sm rounded">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Gönderen</th>
                                    <th scope="col">E-posta 📧</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Okunma Bilgisi</th>
                                    <th scope="col">Detay</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.MessageId</th>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Email</td>
                                        <td>@item.Subject</td>
                                        @if (item.IsRead == true)
                                        {
                                            <td><a href="/AdminMessage/ReadToFalse/@item.MessageId" class="btn btn-outline-danger">Okunmadı Olarak İşaretle</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="/AdminMessage/ReadToTrue/@item.MessageId" class="btn btn-success">Okundu Olarak İşaretle</a></td>
                                        }
                                        <td><a href="/AdminMessage/MessageDetail/@item.MessageId" class="btn btn-warning btn-sm">Detay</a></td>
                                        <td><a href="/AdminMessage/DeleteMessage/@item.MessageId" class="btn btn-danger btn-sm">Sil</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>  